In [3]:
import pandas as pd
df = pd.read_csv('all_combined.csv')

In [32]:
import datetime as dt

In [65]:
import time

In [4]:
df.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2018,03:00:00,REGULAR,6889287,2335920

In [5]:
df.columns = df.columns.str.strip()

In [6]:
df.columns = df.columns.str.lower()

In [8]:
df.rename(columns = {'c/a': 'ca'},inplace=True)

In [9]:
list(df)

['ca',
 'unit',
 'scp',
 'station',
 'linename',
 'division',
 'date',
 'time',
 'desc',
 'entries',
 'exits']

In [11]:
df['turnstile'] = df.ca+df.unit+df.scp

In [13]:
df2 = df.drop(columns=['ca','unit','scp'])

In [17]:
df2.turnstile.nunique()

4994

In [18]:
df2.date = pd.to_datetime(df2.date)

In [19]:
df2.time = pd.to_datetime(df2.time)

In [23]:
df2.drop(df2.loc[df2.desc=='RECOVR AUD'].index, inplace=True)

In [36]:
'11/30/2019' in list(df.date)

True

In [67]:
jan1 = df2[(df2.date == '01/01/2019') & (df2.time.dt.time.min())]

TypeError: Cannot perform 'and_' with a dtyped [bool] array and scalar of type [bool]

In [109]:
jan1[jan1.time.dt.min]

AttributeError: 'DatetimeProperties' object has no attribute 'min'

In [51]:
min(df.time)

'00:00:00'

In [54]:
df2['datetime'] = df.date + df.time

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2658197 entries, 0 to 2667720
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   station    object
 1   linename   object
 2   division   object
 3   date       datetime64[ns]
 4   time       datetime64[ns]
 5   desc       object
 6   entries    int64
 7   exits      int64
 8   turnstile  object
 9   datetime   object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 223.1+ MB

In [56]:
df2.head()

,station,linename,division,date,time,desc,entries,exits,turnstile,datetime
0,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 03:00:00,REGULAR,6889287,2335920,A002R05102-00-00,12/29/201803:00:00
1,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 07:00:00,REGULAR,6889299,2335936,A002R05102-00-00,12/29/201807:00:00
2,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 11:00:00,REGULAR,6889364,2336038,A002R05102-00-00,12/29/201811:00:00
3,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 15:00:00,REGULAR,6889605,2336101,A002R05102-00-00,12/29/201815:00:00
4,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 19:00:00,REGULAR,6889966,2336173,A002R05102-00-00,12/29/201819:00:00

In [59]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2658197 entries, 0 to 2667720
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   station    object
 1   linename   object
 2   division   object
 3   date       datetime64[ns]
 4   time       datetime64[ns]
 5   desc       object
 6   entries    int64
 7   exits      int64
 8   turnstile  object
 9   datetime   object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 223.1+ MB

In [61]:
df2.time.min

<bound method Series.min of 0         2021-03-31 03:00:00
1         2021-03-31 07:00:00
2         2021-03-31 11:00:00
3         2021-03-31 15:00:00
4         2021-03-31 19:00:00
                  ...
2667716   2021-03-31 04:00:00
2667717   2021-03-31 08:00:00
2667718   2021-03-31 12:00:00
2667719   2021-03-31 16:00:00
2667720   2021-03-31 20:00:00
Name: time, Length: 2658197, dtype: datetime64[ns]>

In [81]:
jan1 = df2[df2.datetime == '01/01/2019']

In [78]:
df2.drop(columns = 'datetime',inplace=True)

In [79]:
df2['datetime'] = df.date + ' ' + df.time

In [113]:
'01/01/2019' in list(df.date)

False

In [94]:
df.date = pd.to_datetime(df.date)

In [110]:
df2.groupby(['turnstile','date'])[['time']].min

In [107]:
'2018-12-29' isin list(df2.date)

SyntaxError: invalid syntax (<ipython-input-107-598e921ee213>, line 1)

In [112]:
df2.head()

,station,linename,division,date,time,desc,entries,exits,turnstile,datetime
0,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 03:00:00,REGULAR,6889287,2335920,A002R05102-00-00,12/29/2018 03:00:00
1,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 07:00:00,REGULAR,6889299,2335936,A002R05102-00-00,12/29/2018 07:00:00
2,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 11:00:00,REGULAR,6889364,2336038,A002R05102-00-00,12/29/2018 11:00:00
3,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 15:00:00,REGULAR,6889605,2336101,A002R05102-00-00,12/29/2018 15:00:00
4,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 19:00:00,REGULAR,6889966,2336173,A002R05102-00-00,12/29/2018 19:00:00

In [114]:
df2.head(1)

,station,linename,division,date,time,desc,entries,exits,turnstile,datetime
0,59 ST,NQR456W,BMT,2018-12-29,2021-03-31 03:00:00,REGULAR,6889287,2335920,A002R05102-00-00,12/29/2018 03:00:00

In [115]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2658197 entries, 0 to 2667720
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   station    object
 1   linename   object
 2   division   object
 3   date       datetime64[ns]
 4   time       datetime64[ns]
 5   desc       object
 6   entries    int64
 7   exits      int64
 8   turnstile  object
 9   datetime   object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 223.1+ MB

In [120]:
'2018-12-29' in df2.date.values()

<ipython-input-120-1d6ea503f9d3>:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  '2018-12-29' in df2.date.values

False

In [121]:
'2018-12-29' in list(df2.date)

False

In [117]:
df2[df2.date == '2018-12-28']

Empty DataFrame
Columns: [station, linename, division, date, time, desc, entries, exits, turnstile, datetime]
Index: []

In [118]:
df2.loc[0,'date'].dt.dayofweek

AttributeError: 'Timestamp' object has no attribute 'dt'